<section class="d-flex justify-content-center align-self-center">
        <div>
            <div>
                <div class="border border-black bg-light align-self-center">
                    <h3>Welcome Back!</h3>
                    <div>
                        <form>
                            <p>Username</p>
                            <div>
                                <div>
                                    <inputtype="text" placeholder="Username" autofocus="" id="user-name">
                                </div>
                            </div>
                            <p>Password</p>
                            <div>
                                <div>
                                    <input type="password" placeholder="Password" id="password">
                                </div>
                            </div>
                            <buttoN>Login</button>
                        </form>
                    </div>
                    <p>
                    <a style="color:rgb(0, 26, 255);font-weight:bold" href="/signup">New Here?  Click to Sign-up Instead</a>
                    </p>
                    <p>--------------------</p>
                    <p>
                        <a style="color:rgb(0, 26, 255);font-weight:bold" href="/">Home Page</a>
                    </p>
                </div>
            </div>
        </div>
    </section>