<section class="container">
  <div>
    <div class="container">
      <h2>{{post_title}}</h2>
    </div>
  </div>
</section>
<div class="container">

  <div class="m-5">
    <div class="m-5">
      <p>{{post_body}}</p>
      {{#each post.comments}}
        <div class="comment">
          <p>{{this}}</p>
        </div>
      {{/each}}
    </div>
    <h3 style="font-size: 125%; font-weight: bolder">{{posts.post_title}}</h3>
  </div>

</div>
<div>
  <form method="post">
    <textarea id="newComment" name="newComment"></textarea>
    <br />
    <button id="add-comment">Add Comment</button>

  </form>
</div>